$week: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);
$month: ("28": 29, "29": 30, "30": 31);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 707px;

  div {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid black;
    box-sizing: border-box;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;

    &:hover {
      transform: translate(0, -20px) scale(1.05);
      transition-duration: 0.5s;
      background-color: pink;
      cursor: pointer;
    }
  }
}

@for $day from 1 through 31 {
  .calendar div:nth-child(#{$day})::after {
    content: "#{$day}";
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 100px;
  }
}

@each $day-week, $day in $week {
  .calendar-#{$day-week} div:first-child {
    margin-left: #{(100 * $day) + $day}px;
  }
}

@each $day, $id in $month {
  .calendar-#{$day} div:nth-child(n+#{$id}) {
    display: none;
  }
}
